@charset 'UTF-8';

a
{
    text-decoration: none;

    color: inherit;
}

.hidden,
.agent_information .profile_txt span,
.contact_wrap .title
{
    position: absolute;

    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

a.btn_icon,
.safety_wrap .safety_txt span,
.agent_information .profile_img_wrap .safety_mark
{
    overflow: hidden;

    text-indent: -9999em;

    background-repeat: no-repeat;
}/* 공통 */body
{
    width: 100%;
}/* 박스 사이징: IE 8+ | http://caniuse.com/#search=box-sizing */body *,
body *::before,
body *::after
{
    box-sizing: border-box;
}

p
{
    margin: 0;
}

a
{
    cursor: pointer;
}

a.btn_icon
{
    padding: 0;

    cursor: pointer;

    background-position: left top;
    background-size: contain;
}/* 상단 헤더 영역 */.header_wrap
{
    padding: 16px 10px;

    color: #fff;
    background-color: #ffa409;
}

.header_wrap .title
{
    font-size: 19px;
    font-weight: 200;

    display: inline-block;

    margin: 0;
}

.header_wrap .btn_icon
{
    width: 23px;
    height: 23px;
    margin-top: 2px;
}

.header_wrap .btn_prev
{
    float: left;

    margin-right: 5%;

    background-image: url(../img/ic_back.png);
}

.header_wrap .btn_share
{
    float: right;

    background-image: url(../img/ic_share.png);
}

.header_wrap .btn_like
{
    float: right;

    margin-left: 8.8888%;

    background-image: url(../img/ic_like_normal.png);
}/* 이미지 슬라이더 영역 */.slider_wrap
{
    position: relative;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    padding-bottom: 100%;
}

.images_wrap
{
    position: absolute;
    top: 0;
    left: 0;
}

.images_wrap > img
{
    float: left;

    cursor: pointer;
}

.images_wrap > img:hover,
.images_wrap > img:focus
{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}/* 모달콘텐츠 */.modal_wrap
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, .9);
}

.modal_wrap .modal_img_wrap
{
    position: relative;
    top: 10%;

    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.modal_wrap .modal_img_wrap img
{
    width: 100%;
}

.modal_wrap .btn_close
{
    font-weight: bold;

    position: absolute;
    bottom: 10%;
    left: 50%;

    padding: 8px 10px 5px 10px;

    cursor: pointer;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    opacity: .5;
    color: #333;
    border: none;
    border-radius: 25px;
    background-color: #fff;
}

.modal_wrap .btn_close:hover,
.modal_wrap .btn_close:focus
{
    opacity: .9;
}

.modal_wrap.modal_on
{
    display: block;
}/* 슬라이드 버튼 */.slider_btn
{
    position: absolute;
    z-index: 99;
    top: 40%;
    left: 0;

    width: 100%;
}

.slider_btn button
{
    position: absolute;

    width: 30px;
    height: 30px;
    padding: 0;

    cursor: pointer;
    transition: all .4s ease-out;
    -webkit-transform: translateY(-50%);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translateY(-50%);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translateY(-50%);
            transform: translate(-50%, -50%) rotate(-45deg);

    opacity: .5;
    color: #fff;
    border: 0;
    background-color: transparent;
}

.slider_btn button:hover,
.slider_btn button:focus
{
    opacity: .9;
}

.slider_btn .next_btn
{
    right: 10px;

    border-right: 8px solid #fff;
    border-bottom: 8px solid #fff;
}

.slider_btn .previous_btn
{
    left: 40px;

    border-top: 8px solid #fff;
    border-left: 8px solid #fff;
}/* 안심중개사 */.safety_wrap
{
    padding: 8px 10px 12px 10px;

    color: #fff;
    background-color: #0ec4bf;
}

.safety_wrap .safety_txt
{
    font-size: 16px;

    display: inline-block;
}

.safety_wrap .safety_txt span
{
    position: relative;
    top: 7px;
    left: 0;

    display: inline-block;

    width: 89px;
    height: 27px;
    margin-right: 10px;

    background-image: url(../img/safety_mark.png);
    background-position: left top;
    background-size: contain;
}

.safety_wrap .btn_icon
{
    float: right;

    width: 23px;
    height: 20px;
}

.safety_wrap .btn_question
{
    display: inline-block;

    margin-top: 9px;

    background-image: url(../img/ic_help.png);
}/* 인포메이션 전체 영역 */.infomation_wrap
{
    padding: 11px;

    background-color: #f6f6f6;
}

.infomation_wrap h2.title
{
    font-size: 17px;

    margin-top: 0;
    margin-bottom: 13px;

    color: #616161;
}

.info_txt_wrap
{
    padding: 15px 10px;

    border: 1px solid #e1e1e1;
    background-color: #fff;
}/* 방 정보 */.room_infomation
{
    margin-bottom: 18px;
}

.room_info_table
{
    font-size: 14px;

    width: 100%;

    border-spacing: 0;

    border: 1px solid #e1e1e1;
    background-color: #fff;
}

.room_info_table th
{
    font-weight: 400;

    padding: 14px 10px 14px 10px;

    text-align: left;

    color: #6a6a6a;
    background-color: #fafafa;
}

.room_info_table td
{
    padding-left: 10px;
}

.room_info_table .num_color
{
    font-size: 16px;

    padding-right: 5px;

    color: #ff7800;
}

.room_info_table .table_line_top th,
.room_info_table .table_line_top td
{
    border-top: 1px solid #eee;
}/* 상세설명 */.detail_infomation
{
    margin-bottom: 18px;
}/* 담장자 코멘트 */.comment_infomation
{
    margin-bottom: 18px;
}/* 건물정보 */.building_information
{
    margin-bottom: 18px;
    padding: 15px 10px;

    border: 1px solid #e1e1e1;
    background-color: #fff;
}

.building_information .building_img_wrap
{
    display: inline-block;
    overflow: hidden;

    width: 33.3333%;

    vertical-align: top;
}

.building_information .building_img_wrap img
{
    position: relative;
    top: 0;
    left: 50%;

    width: 150%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.building_information .building_txt_wrap
{
    font-size: 14px;

    display: inline-block;

    width: 66.6666%;
    padding-left: 15px;
}

.building_information .building_name
{
    font-size: 14px;

    margin: 0;
}

.building_information .building_txt
{
    margin: 0;
    padding: 0;
}

.building_information .building_txt li
{
    list-style: none;
}

.building_information .fulladdress
{
    margin-bottom: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid #e1e1e1;
}/* 위치 정보 */.location_information
{
    margin-bottom: 18px;
}

.info_map_wrap
{
    border: 1px solid #e1e1e1;
    background-color: #fff;
}

.info_map_wrap #map
{
    width: 100%;
    height: 300px;

    border-bottom: 1px solid #e1e1e1;
}

.info_map_wrap .map_btn_wrap
{
    width: 100%;
}

.info_map_wrap .map_btn_wrap .map_btn
{
    font-size: 17px;

    display: inline-block;

    width: 48%;
    padding: 13px 0;

    cursor: pointer;
    text-align: center;

    color: #333;
    border: none;
    background-color: #fff;
}

.info_map_wrap .map_btn_wrap .btn_map_view
{
    border-right: 1px solid #e1e1e1;
}

.info_map_wrap .map_btn_wrap .btn_map_view span
{
    display: inline-block;

    padding: 5px 0 0 25px;

    background-image: url(../img/btn_map_view.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px;
}

.info_map_wrap .map_btn_wrap .btn_load_view span
{
    display: inline-block;

    padding: 5px 0 0 25px;

    background-image: url(../img/btn_load_view.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 22px;
}/* 중개사 정보 */.agent_information
{
    font-size: 14px;

    margin-bottom: 18px;
}

.agent_information .profile_img_wrap
{
    display: inline-block;

    width: 27.7777%;
}

.agent_information .profile_img_wrap img
{
    width: 100%;
}

.agent_information .profile_img_wrap .safety_mark
{
    width: 100%;
    height: auto;
    margin-top: -6px;
    padding: 5px;

    background-color: #0ec4bf;
    background-image: url(../img/safety_mark.png);
    background-position: center;
    background-size: 80%;
}

.agent_information .profile_txt
{
    display: inline-block;

    margin: 0 0 0 10px;
    padding: 0;

    vertical-align: top;
}

.agent_information .profile_txt li
{
    list-style: none;
}

.agent_information .profile_txt .profile_name
{
    font-weight: bold;
}

.agent_information .agent_info_txt h3
{
    font-size: 14px;

    margin-top: 3px;
    margin-bottom: 0;
    padding: 10px 3px;

    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.agent_information .agent_info_txt ul
{
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 18px;
}

.agent_information .warning_info
{
    font-size: 12px;
    line-height: 1.5;

    margin-top: 6px;
    margin-bottom: 6px;
    padding: 13px 8px;

    color: #fff;
    background-color: #848484;
}

.agent_information .warning_info span
{
    font-weight: bold;
}/* 문의하기 */.contact_wrap
{
    padding: 0 10px;

    border-top: 1px solid #e1e1e1;
    background-color: #fff;
}

.contact_wrap .contact_info
{
    font-size: 14px;

    display: inline-block;

    padding: 0;
}

.contact_wrap .contact_info .one_info
{
    font-size: 12px;

    color: #6a6a6a;
}

.contact_wrap .contact_info .cell_number
{
    color: #ff7800;
}

.contact_wrap .contact_info .cell_number span
{
    font-size: 8px;

    display: inline-block;

    padding: 1px;

    vertical-align: text-top;

    color: #848484;
    border: 1px solid #848484;
    background-color: #eee;
}

.contact_wrap .btn_call
{
    font-size: 24px;

    display: inline-block;
    float: right;

    width: 50%;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px 0;

    text-align: center;

    color: #fff;
    border-radius: 25px;
    background-color: #ff5200;
}

.contact_wrap .btn_call span
{
    display: inline-block;

    padding: 0 0 0 30px;

    background-image: url(../img/ic_call.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px;
}

.footer_wrap
{
    width: 100%;
    height: 40px;

    background-color: #e9edf0;
}

/*# sourceMappingURL=../maps/style.css.map */
