/* common style */
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.ir{
  overflow: hidden;
  text-indent: -9999em;
}

.readable-hidden {
  overflow: hidden;
  position: absolute;
  clip:     rect(0,0,0,0);
  width:    1px;
  height:   1px;
  margin:   -1px;
  border:   0;
  padding:  0;
}

.readable-hidden.focusable:focus {
  overflow: visible;
  position: static;
  clip:     auto;
  width:    auto;
  height:   auto;
  margin:   0;
}

/* reset */
html{
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  font-family: 'Aref Ruqaa', serif;
  font-weight: 700;
}

body::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 300px;
  height: 200px;
  border-right: 3px solid #8F9191;
  border-left: 3px solid #8F9191;
}

/* carousel */
.carousel-container{
  position: relative;
  width: 600px;
  height: auto;
  overflow: hidden;
  outline: 7px solid #fff;
  border-top: 20px solid #B5B5B5;
  border-right: 20px solid #DBE0DC;
  border-bottom: 20px solid #CFD1CE;
  border-left: 20px solid #A7A8A6;
  box-shadow: 10px 10px 20px #535353;
}
.carousel-container img{
  width: 100vw;
  height: auto;
}
.carousel-container button{
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 1000;
}
.carousel-container button:focus{
  outline: none;
  outline-offset: 0.3em;
  box-shadow: 0 0 0 4px hsla(198, 82%, 47%, 0.3);
}

/* carousel-indicator */
.carousel-indicator{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.carousel-indicator button{
  width: 8px;
  height: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #696969;
  transition: all 0.3s ease-out;
}
.carousel-indicator .active-tab{
  background: #f8f8f8;
  outline-offset: 3px;
  box-shadow: 0 0 0 3px hsla(0, 0%, 41%, 0.25);
}
.carousel-indicator button:hover{background: #323232;}
.carousel-indicator button:active{
  outline-offset: 0.3em;
  box-shadow: 0 0 0 4px hsla(78, 82%, 62%, 0.2);
}

/*carousel-btn*/
.carousel-btn{
  position: absolute;
  width: 800px;
}
.carousel-btn button{
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0.5;
  transition: all 0.4s ease-out;
}

.carousel-btn button:hover{
  opacity: 0.9;
}

.carousel-btn .next-btn{
  right: 10px;
  border-right: 8px solid #212121;
  border-bottom: 8px solid #212121;
}

.carousel-btn .previous-btn{
  left: 40px;
  border-top: 8px solid #212121;
  border-left: 8px solid #212121;
}

/* carousel-view */
.carousel-view{
  /*transition: all 0.4s ease-out;*/
}
.carousel-view img{
  float: left;
}

.img-title{
  position: absolute;
  top: 620px;
  padding: 10px 15px;
  background: #fff;
  color: #363737;
  box-shadow: 2px 2px 5px #535353;
  font-size: 14px;
}













